<title>exstitch</title>

<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
</script>

<div id="app">
  <h1>Canvas</h1>
  <div>
    <svg :height="height" :width="width">
      <rect v-for="(cell, idx) in cells" :x="idx%n_x*cell_width" :y="Math.floor(idx/n_x)*cell_height"
        :height="cell_height" :width="cell_width" :fill="cell.color"></rect>
    </svg>
  </div>

  <h1>Config</h1>
  n_y: <input v-model="n_y" type="number" step="1" min="0"><br>
  n_x: <input v-model="n_x" type="number" step="1" min="0"><br>
  cell_height: <input v-model="cell_height" type="number" step="1" min="0"><br>
  cell_width: <input v-model="cell_width" type="number" step="1" min="0"><br>

  <h1>Debug Output</h1>
  n_y: {{ n_y }} <br>
  n_x: {{ n_x }} <br>
  cell_height: {{ cell_height }} <br>
  cell_width: {{ cell_width }} <br>
  height: {{ height }} <br>
  width: {{ width }} <br>
</div>

<script type="module">
  import { createApp } from 'vue'

  createApp({
    mounted() {
      this.cells = []
      for (let idx = 0; idx < this.n_y * this.n_x; idx++) {
        this.cells.push({ color: "red" })
      }
    },
    data() {
      return {
        n_y: 64,
        n_x: 64,
        cell_height: 8,
        cell_width: 8,
        cells: [],
      }
    },
    computed: {
      height() {
        return this.n_y * this.cell_height;
      },
      width() {
        return this.n_x * this.cell_width;
      },
    }
  }).mount('#app')
</script>